<div class="videos-container" *ngIf="videos$ | async as videos" fxFlexFill fxLayout="column">
    <h3 class="title">Videos in Album {{api.curAlbum.name}}:</h3>
    <div mnMasonryGrid mnMinColSize="220px" class="video-grid" fxFlex>
        <div #videoItem [mnMasonryItem]="posterLoaded" mnSpanColumns="true" class="video-item"
            *ngFor="let video of videos; index as i">
            <div class="video-wrapper"> 
                <img class="poster" (click)="playVideo(video)" [src]='video.thumbPath | secure'
                (load)="posterLoaded.next(videoItem)">
                <h5 *ngIf="!video.caption">{{video.filename}}</h5>
                <h5 *ngIf="video.caption">{{video.caption}}</h5>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!(videos$ | async)">
    <p>Waiting on the server ...</p>
    <mat-spinner></mat-spinner>
</div>