<div class="register-container" fxLayoutAlign="center center">
    <form novalidate #registerForm="ngForm" class="register-form" fxLayout="column" (ngSubmit)="onRegisterClick()">
        <mat-toolbar class="toolbar" fxLayoutAlign="center center">
            <h3>Register a new user</h3>
        </mat-toolbar>
        <mat-form-field>
            <input matInput minlength="5" maxlength="30" placeholder="Full Name" type="text" 
                [(ngModel)]="auth.user.name" #name="ngModel" name="name" required>
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
            <mat-hint>
                <span [hidden]="name.pristine">
                    <span [hidden]="!name.errors?.required">** Full Name is required **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput minlength="5" maxlength="20" placeholder="Choose a username" type="text" 
                [(ngModel)]="auth.user.username" #username="ngModel" name="username" required>
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
            <mat-hint>
                <span [hidden]="username.pristine">
                    <span [hidden]="!username.errors?.required">** Username is required **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <div fxLayout="column" ngModelGroup="passGroup" equal>
            <!-- This div encloses a formGroup - making collection of two inputs "password" and "retry" -->
            <mat-form-field>
                <input matInput minlength="5" maxlength="30" placeholder="Choose a password" #password="ngModel" 
                    [type]="hidePass ? 'password' : 'text'" [(ngModel)]="auth.user.password" name="password" required>
                <mat-icon matSuffix (click)="hidePass = !hidePass">
                    {{hidePass ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-hint>
                    <span [hidden]="password.pristine">
                        <span [hidden]="!password.errors?.required">** Password is required **</span>
                        <span [hidden]="!password.errors?.minlength">** Minimum length is 5 characters **</span>
                    </span>
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput minlength="5" maxlength="30" placeholder="Verify the password" ngModel
                    [type]="hideRetype ? 'password' : 'text'" name="retype" #retype="ngModel" required>
                <mat-icon matSuffix (click)="hideRetype = !hideRetype">
                    {{hideRetype ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-hint>
                    <span [hidden]="retype.pristine">
                        <span [hidden]="!retype.errors?.required">** Verification of the password is required **</span>
                        <span [hidden]="!retype.errors?.minlength">** Minimum length is 5 characters **</span>
                        <span [hidden]="!registerForm.form.hasError('equal', 'passGroup')"> - Passwords do not match</span>
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput minlength="5" maxlength="40" placeholder="Email" type="email" [(ngModel)]="auth.user.email" 
                #email="ngModel" name="email" required>
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
            <mat-hint>
                <span [hidden]="email.pristine">
                    <span [hidden]="!email.errors?.required">** email is required **</span>
                    <span [hidden]="!email.errors?.minlength">** Minimum length is 5 characters **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <div fxLayout="row">
            <button mat-button mat-dialog-close>Cancel</button>
            <span class="fill-space"></span>
            <button mat-raised-button type="submit" color="primary" [disabled]="registerForm.form.invalid">Register</button>
        </div>
    </form>
</div>