.download-container {
    .dl-header-container {
        h2 {
            padding-left: .5vw;
        }
        .upload-icon {
            padding-right: 1.5vw;
        }
    }
    .table-container {
        overflow-y: auto;
        table {
            width: 100%;
            .fiv-viv {
                font-size: 3em;
            }
            .center-align {
                text-align: center;
            }
            .indent {
                padding-left: 2vw;
            }
            th.right-align {
                padding-right: 6vw;
            }
            .right-align {
                text-align: right;
                padding-right: 5vw;
            }
        }
        .mat-icon {
            font-size: 2em;
        }
        .clickable {
            cursor: pointer;
        }
        .mat-header-row th {// don't scroll headers
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
        }
    }
}

