.container {
    background-color: black;
    border-radius: 6px;
    .wrapper {
        position: relative;
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); // center it
            height: 98%;
            width: 98%;
            margin-top: 10px;
        }
    }
    h5 {
        margin: 10px 0;
        color: floralwhite;
        overflow: hidden;
        white-space: nowrap;
        max-width: 95%;
    }
}
