
<form *ngIf="!(loading$ | async)" novalidate #forgotDialogForm="ngForm" class="forgot-dialog-form" fxLayout="column" (ngSubmit)="onSubmitClick()">
    <mat-toolbar class="toolbar" fxLayoutAlign="center center">
        <h3>Forgot username/password</h3>
    </mat-toolbar>
    <p>Whether you forgot your username OR your password, simply input your email address below and an email will be sent
        to you with your username and a link to reset your password.</p>
    <mat-form-field fxLayout="column">
        <input matInput minlength="5" maxlength="40" placeholder="Email" type="email" [(ngModel)]="auth.user.email" 
            #email="ngModel" name="email" required>
        <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
        <mat-hint>
            <span [hidden]="email.pristine">
                <span [hidden]="!email.errors?.required">** email is required **</span>
            </span>
        </mat-hint>
    </mat-form-field>
    <div fxLayout="row">
        <button mat-button mat-dialog-close>Cancel</button>
        <span class="fill-space"></span>
        <button mat-raised-button type="submit" color="primary" [disabled]="forgotDialogForm.form.invalid">
            Submit
        </button>
    </div>
</form>

<div *ngIf="loading$ | async" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>