<img [src]="CFG.const.home.background | secure" class="BackImage">

<div fxLayout="column" class="container">
    <div fxFlex></div>
    <div fxFlexOffset="12" fxLayout="column" fxLayoutAlign="end center">
        <h2 class="welcome">Welcome to our home</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlexOffset="20" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon routerLink="/photo/albums" class="icon">photo_library</mat-icon>
            <span class="icon-description">Photos</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon routerLink="/video/albums" class="icon">video_library</mat-icon>
            <span class="icon-description">Videos</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon routerLink="/download" class="icon">cloud_download</mat-icon>
            <span class="icon-description">Downloads</span>
        </div>
        <div dir="rtl" fxFlexOffset="20" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon routerLink="/family" class="icon">group</mat-icon>
            <span class="icon-description">Family</span>
        </div>
    </div>
    <div fxFlex></div>
</div>
