<h2>Select a gallery:</h2>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-evenly center" fxLayoutGap="10px">
    <mat-card fxFlex="33">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
                <h3 fxFlexAlign>Photo Gallery</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [routerLink]="['/photo/albums']" [src]="CFG.const.gallery.featuredMedia.filename | secure">
    </mat-card>
    <mat-card fxFlex="33">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
                <h3>Video Gallery</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [routerLink]="['/video/albums']" [src]="CFG.const.gallery.featuredVideo.filename | secure">
    </mat-card>
</div>
