<img [src]="CFG.const.home.background | secure" class="BackImage">

<div fxLayout="column" class="container">
    <div fxFlex="2"></div>
    <div fxFlexOffset="5" fxLayout="column" fxLayoutAlign="end center">
        <h2 class="welcome">Welcome to our home</h2>
    </div>
    <div fxFlexOffset="0" fxLayout="row" fxLayoutAlign="space-around center">
        <span fxFlex="10"></span>
        <mat-icon routerLink="/download" class="icon">cloud_download</mat-icon>
        <mat-icon routerLink="/video/albums" class="icon">video_library</mat-icon>
        <mat-icon routerLink="/photo/albums" class="icon">photo_library</mat-icon>
        <mat-icon routerLink="/family" class="icon">group</mat-icon>
        <div fxFlex="13"></div>
    </div>
    <div fxFlex></div>
</div>
