.BackImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    // width: 100%;
    min-width: 100%;
    // min-height: 100%;
    z-index: -1;

    // next two values center the image, clipping edges, on small viewports:
    margin-left: 50%;
    transform: translateX(-50%);
}

.container {
    // need min-height to expand the container, 140px is header+footer
    min-height: calc(100vh - 140px);
    height: 100%;

    .welcome {
        color: whitesmoke;
        font-family: fantasy;
        // calc below from: https://css-tricks.com/books/volume-i/scale-typography-screen-size/
        // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))
        font-size: calc(20px + (66 - 20) * ((100vw - 300px) / (2400 - 300)));
    }

    .icon {
        font-size: calc(40px + (100 - 40) * ((100vw - 300px) / (2400 - 300)));
        height: calc(40px + (100 - 40) * ((100vw - 300px) / (2400 - 300)));
        width: calc(40px + (100 - 40) * ((100vw - 300px) / (2400 - 300)));
        color: whitesmoke;
        cursor: pointer;
    }

    .icon-description {
        font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (2400 - 300)));
        color: whitesmoke;
    }
}
