<div class="container" *ngIf="!loadingAPI" fxFlexFill fxLayout="column">
    <div *ngIf="loadingVideo" class="spinner"><mat-spinner></mat-spinner></div>
    <!-- Note: relative wrapper and no flexbox for video is intentional - needs to work with Chrome, FF and Safari (IOS) -->
    <div fxFlex class="wrapper">
        <video class="video" [hidden]="loadingVideo" controls autoplay [src]="video.fullPath | secure" type="video/mp4" 
        (loadeddata)="loadingVideo = false"></video>
    </div>
    <h5 fxFlexAlign="center" *ngIf="!video.caption">{{video.filename}}</h5>
    <h5 fxFlexAlign="center" *ngIf="video.caption">{{video.caption}}</h5>
</div>

<div *ngIf="loadingAPI">
    <h3>Video is loading ...</h3>
    <mat-spinner></mat-spinner>
</div>
