<div *ngIf="auth.isAuthenticated()">
  <h2>Select which gallery you'd like to view:</h2>
  <div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign.gt-xs="space-evenly center"
     fxLayoutGap="10px">
    <mat-card fxFlex="33">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          <h3 fxFlexAlign>Picture Gallery</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [routerLink]="['/albums']" [src]="CFG.const.gallery.featuredPhoto.filename | secure">
    </mat-card>
    <mat-card fxFlex="33">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          <h3>Video Gallery</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [routerLink]="['/videos']" [src]="CFG.const.gallery.featuredVideo.filename | secure">
    </mat-card>
  </div>
</div>
