.focal-container {
    background-color: rgba(0,0,0,0); //transparent
    padding-top: 0;
    cursor: pointer;
    .img-container {
        height: 0; //need to set it, then stretch it
        .inner-spinner {
            background-color:black;
        }
        .img-focal {
            margin-bottom: 0px;
            max-width: 95vw;
            max-height: 100%;
            // width: auto;
            border: 3px ridge black;
            border-radius: 6px;
        }
    }
    h4 {
        margin: 5px 0;
        color: floralwhite;
    }
}