<div id="thumbnails" #thumbnailsE fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.gt-xs="6px" fxLayoutGap.xs="1px"
    fxLayoutAlign.gt-xs="none center" fxLayoutAlign.xs="none none">
    <div *ngFor="let thumb of thumbs" (click)="changeThumb(thumb)" fxFlex.xl="0 0 4.25%" fxFlex.lg="0 0 6.31%"
        fxFlex.md="0 0 7.8%" fxFlex.sm="0 0 11.75%" fxFlex.xs="1 1 auto">
        <img #thumbE fxFlexAlignSelf="center" class="img-thumbs" [src]="thumb.thumbPath | secure"
            [id]="highlightAndScroll(thumb, thumbE, thumbnailsE)">
    </div>
</div>>