<div id="full-screen">
  <div class="title" fxLayout="row">
    <h2><span>{{media.curAlbum.name}}:</span></h2>
    <span class="fill-space"></span>
    <a [download]='curPhoto.filename' [href]='curPhoto.fullpath | secure'>
      <mat-icon>vertical_align_bottom</mat-icon>
    </a>
  </div>
  <div class="container"
    fxLayout="column"
    fxLayoutGap="4px"
    fxLayoutAlign.gt-xs="space-evenly stretch">
    <div fxHide.lt-md fxLayout="column" fxLayoutAlign="none center">
      <mat-card (click)="makeFullscreen()" >   <!-- main display picture -->
        <!-- <mat-card-header>
          <mat-card-title>
            <h3 fxFlexAlign>{{album.name}}</h3>
          </mat-card-title>
          <mat-card-subtitle>{{album.description}}</mat-card-subtitle>
        </mat-card-header> -->
        <img class="img-large" mat-card-image [src]='curPhoto.fullpath | secure'>
      </mat-card>
    </div>
    <div id="thumbnails" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="6px" fxLayoutAlign.gt-sm="none center">  <!-- scrollable row of thumbnails -->
      <mat-card *ngFor="let photo of media.curAlbum.photos" (click)="changePhoto(photo)"
        fxFlex.xl="1 0 6.2%" fxFlex.lg="1 0 8%" fxFlex.md="1 0 12.2%" fxFlex.lt-md="98%">
          <img #thumb class="img-thumbs" [id]="highlightAndScroll(photo, thumb)" mat-card-image [src]='photo.fullpath | secure'>
      </mat-card>
    </div>>
  </div>
</div>

<!-- 
<mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <p>
    <button mat-raised-button (click)="setFullScreen()">FullScreen</button>
  </p>
  <span class="version-info">Current build: {{version.full}}</span>
</div>
<div style="background-color: purple" id="full-screen">Full screen div
  <button (click)="openDialog()">Open dialog</button>
</div> -->

<!-- <p>
  gallery-photo-photos works!
</p> -->
