<div *ngIf="displayAlbums">
  <h2>List of Photo Albums:</h2>
  
  <div class="container"
    fxLayoutGap="8px"
    fxLayout="row wrap"
    fxLayoutAlign.gt-xs="space-evenly center" >

    <!-- If the album being displayed has both other albums AND pictures then display an icon for these pics -->
    <mat-card *ngIf="media.curPhotoAlbum.photos.length > 0" (click)="navToPhotos(media.curPhotoAlbum)"
        fxFlex.xl="16.2%" fxFlex.lg="24.5%" fxFlex.md="32.5%" fxFlex.sm="49%" fxFlex.xs="98%">  
      <mat-card-header fxLayoutAlign="start none">
        <mat-card-title>
          <h3>View Photos in "{{media.curPhotoAlbum.name}}"</h3>
        </mat-card-title>
        <mat-card-subtitle>{{media.curPhotoAlbum.description}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <div fxLayout="space-around center"> -->
      <!-- <div> -->
          <img mat-card-image [src]='(media.curPhotoAlbum.featuredMedia.fullPath) | secure'>
      <!-- </div> -->
    </mat-card>
    <!-- Now loop through displaying all the albums in this album. -->
    <mat-card *ngFor="let album of displayAlbums" (click)="updateDisplayAlbum(album)"
      fxFlex.xl="16.2%" fxFlex.lg="24.5%" fxFlex.md="32.5%" fxFlex.sm="49%" fxFlex.xs="98%">
      <mat-card-header fxLayoutAlign="start none">
        <mat-card-title>
          <h3>{{album.name}}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{album.description}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <div *ngIf='album.featuredMedia.filename' fxLayoutAlign="space-around center"> -->
          <!-- <img *ngIf='album.featuredMedia.filename' mat-card-image [src]='(album.featuredMedia.fullPath) | secure'> -->
          <img FxLayoutAlign="center" *ngIf='album.featuredMedia.filename' mat-card-image [src]='(album.featuredMedia.fullPath) | secure'>
      <!-- </div> -->
    </mat-card>
  </div>
</div>

<div *ngIf="!displayAlbums">
  <p>Waiting on server ...</p>
  <mat-spinner></mat-spinner>
</div>

