<div *ngIf="displayAlbums">
  <h2>{{media.curPhotoAlbum.name}}:</h2>
  <div class="container"
    fxLayout="row wrap"
    fxLayoutGap="4px"
    fxLayoutAlign.gt-xs="space-evenly stretch">
    <mat-card *ngFor="let album of displayAlbums" (click)="updateDisplayAlbumOrNavToPhotos(album)"
      fxFlex.xl="16.2%" fxFlex.lg="24.5%" fxFlex.md="32.5%" fxFlex.sm="49%" fxFlex.xs="98%">
      <mat-card-header>
        <mat-card-title>
          <h3 fxFlexAlign>{{album.name}}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{album.description}}</mat-card-subtitle>
      </mat-card-header>
      <div *ngIf='album.featuredPhoto.filename' fxFill fxLayout="center center">
        <img mat-card-image [src]='(album.featuredPhoto.fullpath) | secure'>
      </div>
      <mat-card-footer>  
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div *ngIf="!displayAlbums">
  <p>Waiting on server ...</p>
</div>

