<!-- <div class="change-password-container"> -->
<!-- <video autoplay muted loop id="BackImage">
    <source src="assets/video/Piano480p.mp4" type="video/mp4">
  </video> -->
<img src="assets/images/Mountain.jpg" id="BackImage" fxFlexFill>
<div class="change-password-container" fxLayoutAlign="center center">
    <form novalidate #changePasswordForm="ngForm" class="change-password-form" fxLayout="column">
        <p #testpar>This is a test</p>
        <ng-template #nonotes>
            <p>No notes found</p>
        </ng-template>
        <mat-toolbar class="toolbar">
            <h3>Change your password</h3>
        </mat-toolbar>
        <p>Changing password for user: {{ auth.user.username }}</p>
        <mat-form-field *ngIf="knowExisting">
            <!-- Only add this to DOM if NOT sent here via forgotten password email -->
            <input matInput maxlength="30" minlength="5" [type]="hideExgPass ? 'password' : 'text'" required
                name="exgpass" placeholder="Existing password" #exgpass="ngModel" [(ngModel)]="existingPass">
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
            <mat-icon matSuffix (click)="hideExgPass = !hideExgPass">
                {{hideExgPass ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-hint>
                <span [hidden]="exgpass.pristine">
                    <span [hidden]="!exgpass.errors?.required">** Existing Password is required **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="30" minlength="5" placeholder="New password" name="newpass"
                [type]="hideNewPass ? 'password' : 'text'" ngModel #newpass="ngModel" required>
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
            <mat-icon matSuffix (click)="hideNewPass = !hideNewPass">
                {{hideNewPass ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-hint>
                <span [hidden]="newpass.pristine">
                    <span [hidden]="!newpass.errors?.required">** New password is required **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="30"  minlength="5" placeholder="Re-Enter your new password" required
                name="newpasschk" [type]="hideNewPassChk ? 'password' : 'text'" ngModel  #newpasschk="ngModel">
            <mat-icon matSuffix (click)="hideNewPassChk = !hideNewPassChk">
                {{hideNewPassChk ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-hint>
                <span [hidden]="newpasschk.pristine">
                    <span [hidden]="newpass.value === newpasschk.value">** Passwords are not the same **</span>
                </span>
            </mat-hint>
        </mat-form-field>
        <div fxLayout="row">        
            <button mat-raised-button color="secondary" mat-dialog-close>Cancel</button>
            <span class="fill-space"></span>
            <button mat-raised-button type="submit" color="primary" (click)="onChangePassword(newpass.value)"
                [disabled]="newpass.pristine || changePasswordForm.form.invalid || (newpass.value !== newpasschk.value)">
                Change Password
            </button>
        </div>
    </form>
</div>