.videos-container {
    background-color: black;
    border-radius: 6px;
    padding-top: 15px;

    .title {
        margin: 0 1em 10px 1em;
        color: floralwhite;
    }
    
    .video-grid {
        margin: 0 1em;
        @supports (-webkit-overflow-scrolling: touch) {
            -webkit-overflow-scrolling: touch;
        } /* Support for IOS device scrolling in mobile Safari */
        .video-item {
            .poster {
                max-width: 100%;
                border: 1px solid white;
                border-radius: 6px;
            }
            h5 {
                margin: 0 4px 0 10px;
                color: floralwhite;
                overflow: hidden;
                white-space: nowrap;
                max-width: 95%;
            }
        }
        }
}