.container {
    background-color: black;
    border-radius: 6px;
    padding-top: 15px;

    h3 {
        margin-top: 0;
        color: floralwhite;
    }
    
    .all-videos {
        margin-bottom: 2px;
//        background-color: grey;

        .poster {
            max-height: calc(96% - 1em);
            max-width: 100%;
        }
        h5 {
            margin: 0 4px 0 10px;
            color: floralwhite;
            overflow: hidden;
            white-space: nowrap;
            max-width: 95%;
        }
    }
}