
.mat-toolbar {
    margin-bottom: 0;
}

.indent-both { // for divider
    margin-left: 10px;
    margin-right: 10px;
}

.active-link {
    background-color: #0070BA;
}
.active-menu {
    background-color: #ceddef;
}

