
.mat-toolbar {
    margin-bottom: 0;
}

.indent-both { // for divider
    margin-left: 10px;
    margin-right: 10px;
}

.active-link {
    background-color: #0070BA;
}
.active-menu {
    background-color: #ceddef;
}

.logo {
    height: 54px;
}

::ng-deep .mat-icon-button {
    height: 54px !important;
    width: 54px !important;
}
