<mat-toolbar *ngIf="auth.isAuthenticated()" class="toolbar" fxFlex>
    <a mat-icon-button routerLink="/home" routerLinkActive="active-link">
        <img class="logo" [src]="CFG.const.header.logo | secure">
    </a>
    <div fxShow fxHide.xs fxLayout='row'>
        <a mat-button routerLink="/download" routerLinkActive="active-link" fxFlexOffset="5">Downloads</a>
        <a mat-button routerLink="/video/albums" routerLinkActive="active-link">Video Gallery</a>
        <a mat-button routerLink="/photo/albums" routerLinkActive="active-link">Photo Gallery</a>
        <a mat-button routerLink="/family" routerLinkActive="active-link">Family</a>
    </div>
    <span class="fill-space"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">{{auth.user.username}}</button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/" (click)="auth.authLogout()">Logout</button>
        <mat-divider class="indent-both"></mat-divider>
        <button mat-menu-item routerLink="/user/changepass"  routerLinkActive="active-menu">Change Password</button>
        <button *ngIf="(auth.user.level > 3)" mat-menu-item routerLink="/user/manage"  routerLinkActive="active-menu">Manage Users</button>
    </mat-menu>
    <!-- Responsive menu - only appears on xs screens -->
    <button fxHide fxShow.xs mat-button [matMenuTriggerFor]="xsMenu"><mat-icon>menu</mat-icon></button>
    <mat-menu #xsMenu="matMenu" fxLayout="column">
        <button mat-menu-item routerLink="/home" routerLinkActive="active-menu">Home</button>
        <mat-divider class="indent-both"></mat-divider>
        <button mat-menu-item routerLink="/photo/albums" routerLinkActive="active-menu">Photo Gallery</button>
        <button mat-menu-item routerLink="/video/albums" routerLinkActive="active-menu">Video Gallery</button>
        <button mat-menu-item routerLink="/download" routerLinkActive="active-menu">Downloads</button>
        <mat-divider class="indent-both"></mat-divider>
        <button mat-menu-item routerLink="/family" routerLinkActive="active-menu">Family</button>
    </mat-menu>
</mat-toolbar>