<div *ngIf="!auth.isAuthenticated()">
  <!-- <video autoplay muted loop id="BackImage">
    <source src="assets/video/Piano480p.mp4" type="video/mp4">
  </video> -->
  <img src="assets/images/Mountain.jpg" id="BackImage" fxFlexFill>
  <div class="change-password-container" fxLayoutAlign="center center">
        <!-- fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column" -->
      <form novalidate #changePasswordForm="ngForm" class="change-password-form" fxLayout="column">
        <mat-toolbar class="toolbar">
          <h3 align="center">Change your password</h3>
        </mat-toolbar>
        <p>Changing password for user: {{ auth.user.username }}</p>
        <mat-form-field>
          <input matInput maxlength="30" placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="auth.user.password" #password="ngModel" name="password" required>
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>
            <span [hidden]="password.pristine">
              <span [hidden]="!password.errors?.required">** Password is required **</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput maxlength="30" placeholder="Re-Enter your password" [type]="hidePassCheck ? 'password' : 'text'"
             [(ngModel)]="auth.user.passcheck"
             name="passcheck" #passcheck="ngModel" required>
          <mat-icon matSuffix (click)="hidePassCheck = !hidePassCheck">{{hidePassCheck ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>
            <span [hidden]="passcheck.pristine">
              <span [hidden]="!passcheck.errors?.required">** Password Check is required **</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <div fxLayout="row">
          <span class="fill-space"></span>
          <button mat-raised-button type="submit"
             color="primary" [disabled]="(auth.user.password != auth.user.passcheck)" (click)="onChangePassword()">Change Password</button>
        </div>
      </form>
  </div>

</div>
