<!-- <div class="change-password-container"> -->
  <!-- <video autoplay muted loop id="BackImage">
    <source src="assets/video/Piano480p.mp4" type="video/mp4">
  </video> -->
  <img src="assets/images/Mountain.jpg" id="BackImage" fxFlexFill>
  <div class="change-password-container" fxLayoutAlign="center center">
        <!-- fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column" -->
      <form novalidate #changePasswordForm="ngForm" class="change-password-form" fxLayout="column">
        <mat-toolbar class="toolbar">
          <h3 align="center">Change your password</h3>
        </mat-toolbar>
        <p>Changing password for user: {{ auth.user.username }}</p>
        <mat-form-field *ngIf="knowExisting"> <!-- Only add this to DOM if NOT sent here via forgotten password email -->
          <input matInput maxlength="30" placeholder="Existing password" [type]="hideExgPass ? 'password' : 'text'" [(ngModel)]="existingPass" #exgpass="ngModel" name="exgpass" required>
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
          <mat-icon matSuffix (click)="hideExgPass = !hideExgPass">{{hideExgPass ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>
            <span [hidden]="exgpass.pristine">
              <span [hidden]="!exgpass.errors?.required">** Existing Password is required **</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput maxlength="30" placeholder="New password" [type]="hideNewPass ? 'password' : 'text'" ngModel #newpass="ngModel" name="newpass" required>
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint> -->
          <mat-icon matSuffix (click)="hideNewPass = !hideNewPass">{{hideNewPass ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>
            <span [hidden]="newpass.pristine">
              <span [hidden]="!newpass.errors?.required">** New password is required **</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput maxlength="30" placeholder="Re-Enter your new password" [type]="hideNewPassChk ? 'password' : 'text'" ngModel name="newpasschk" #newpasschk="ngModel" required>
          <mat-icon matSuffix (click)="hideNewPassChk = !hideNewPassChk">{{hideNewPassChk ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>
            <span [hidden]="newpasschk.pristine">
              <span [hidden]="newpass.value === newpasschk.value">** Passwords are not the same **</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <div fxLayout="row">
          <span class="fill-space"></span>
          <button mat-raised-button type="submit"
             color="primary" [disabled]="newpass.value !== newpasschk.value" (click)="onChangePassword(newpass.value)">Change Password</button>
        </div>
      </form>
  </div>

<!-- </div> -->
