.container {
    mat-card {
        padding: 0 2em 6px 2em;
        bottom: 10px;
        margin-bottom: 8px;
        cursor: pointer;
            .image {
                max-width: calc(100% + 48px);
                max-height: 400px;
                margin: 0 -24px 4px -24px;
            }
    }

}

  
.mat-card-image {
    border-radius: 3px;
}