.albums-container {
    // background-color: black;
    border-radius: 6px;
    .title {
        margin: 0.4em 0;
    }
    .grid-container {
        border-radius: 6px;
        @supports (-webkit-overflow-scrolling: touch) {
            -webkit-overflow-scrolling: touch;
        } /* Support for IOS device scrolling in mobile Safari */
        .grid-item {
            cursor: pointer;
        }    
    }
}