h3 {
    margin-left: 1vw;
}

.about-tab-container {

    .family-member-card {
        max-width: 40vw;
    }
    
    .mat-tab-label {
        height: 56px!important;
    }

    .mat-tab-label-active {
        opacity: 1;
    }
    
}

