<div *ngIf="auth.isAuthenticated()">
  <mat-toolbar class="toolbar" fxFlex>
      <span>{{CFG.const.header.title}}</span>
      <div fxShow fxHide.xs fxLayout='row'>
          <a mat-button routerLink="/gallery" routerLinkActive="active" fxFlexOffset="1" >Home</a>
          <a mat-button routerLink="/downloads" routerLinkActive="active">Downloads</a>
          <button mat-button [matMenuTriggerFor]="galleryMenu">Gallery Menu</button>
          <mat-menu #galleryMenu="matMenu">
            <button mat-menu-item routerLink="/" >Gallery Home</button>
            <hr>
            <button mat-menu-item routerLink="/videos" >Video Gallery</button>
            <button mat-menu-item routerLink="/albums">Picture Gallery</button>
          </mat-menu>
          <a mat-button routerLink="/about" routerLinkActive="active">About</a>
          </div>
      <span class="fill-space"></span>
      <button mat-button [matMenuTriggerFor]="userMenu">{{auth.user.username}}</button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/" routerLinkActive="active" (click)="auth.authLogout()">Logout</button>
        <hr>
        <button mat-menu-item routerLink="/changepass" >Change Password</button>
        <button *ngIf="(auth.user.level > 3)" mat-menu-item routerLink="/manage">Manage Users</button>
      </mat-menu>
      <button fxHide fxShow.xs mat-button [matMenuTriggerFor]="xsMenu"><mat-icon>menu</mat-icon></button>
      <mat-menu #xsMenu="matMenu" fxLayout="column">
        <button mat-menu-item routerLink="/gallery" routerLinkActive="active">Home</button>
        <hr>
        <button mat-menu-item routerLink="/albums" routerLinkActive="active">Picture Gallery</button>
        <button mat-menu-item routerLink="/videos" routerLinkActive="active">Video Gallery</button>
        <button mat-menu-item routerLink="/downloads" routerLinkActive="active">Downloads</button>
        <hr>
        <button mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
      </mat-menu>
  
      <!-- <a mat-button routerLink="/" routerLinkActive="active" (click)="auth.authLogout()">Logout</a> -->
  </mat-toolbar>
</div>
