<!-------------------------------------------------------------------------------------------------- 
About.component.html template

Display a list of family members in a Material Design tab group as tabs.  Within each tab is a card 
for each family member.  Data for this component is currently pulled from the angular config file
located in the assets/config directory in the relevant file's "about" section.
---------------------------------------------------------------------------------------------------->

<h3>Meet the {{CFG.const.about.family.name}}:</h3>

<div class="about-container" fxLayout="row" fxLayoutAlign="center start">
    <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let member of CFG.const.about.family.members">
            <mat-card class="family-member-card">
                <ng-template mat-tab-label>
                    <mat-card-header>
                        <img mat-card-avatar [src]="member.avatar">
                        <mat-card-title>{{member.position}}</mat-card-title>
                        <mat-card-subtitle>{{member.firstName}} {{member.lastName}}</mat-card-subtitle>
                    </mat-card-header>
                </ng-template>
                <img mat-card-image [src]="member.photo">
                <mat-card-content>
                    <!-- Iterate over each line in the bio[] array, inserting that string as HTML so it can contain markups -->
                    <p *ngFor="let line of member.bio" [innerHTML]="line"></p>
                </mat-card-content>
<!--            <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>                         -->
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
