.progress-bar-container {
    background-color: white;
    border-radius: 5px;
    border: 1px;
    border-color: black;
    border-style: ridge;
    padding: 5px 5px 20px 5px;
    
    h3 {
        font-size: 25px;
        flex: 1 1 auto;
        text-align: center;
    }

    .align-center {
        text-align: center;
    }
}