<div id="full-screen" *ngIf="thumbs$ | async as thumbs">
    <div class="title" fxLayout="row">
        <h2><span>{{api.curAlbum.name}}:</span></h2>
        <span class="fill-space"></span>
        <a fxHide.xs [download]="thumbs[curThumbsIndex].filename" [href]="thumbs[curThumbsIndex].fullPath | secure">
            <mat-icon>vertical_align_bottom</mat-icon>
        </a>
    </div>
    <div class="photo-container" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign.gt-xs="space-evenly stretch">
        <!-- large display (focal) picture -->
        <photo-focal [focal]="thumbs[curThumbsIndex]" [loading]="focalLoading" (loaded)="focalLoading=false"></photo-focal>
        <!-- scrollable row of thumbnails -->
        <photo-thumbnails [thumbs]="thumbs" [curIndex]="curThumbsIndex" (thumbChanged)="changeThumb($event)"></photo-thumbnails>
    </div>
</div>

<div *ngIf="!(thumbs$ | async)" class="outer-spinner">
    <p>Getting photos in this album from the server ...</p>
    <mat-spinner></mat-spinner>
</div>