#full-screen {
    //    max-height: 100vh;
        background-color: black;
        border-radius: 6px;

    .title {
        margin: 0 0 5px 0;
        padding-top: 5px;
        color: floralwhite;
        h2 {
            margin: 0;
            padding: 5px;
        }
        a {
            color: floralwhite;
            .mat-icon {
                padding: 5px;
                margin-right: 5px;
            }
        }
    }
}
