<div id="full-screen" *ngIf="thumbs$ | async as thumbs" fxLayout="column" fxLayoutGap="4px" fxFlexFill>
    <div class="title" fxLayout="row">
        <h2><span>{{api.curAlbum.name}}:</span></h2>
        <span class="fill-space"></span>
        <a fxHide.xs [download]="thumbs[curThumbsIndex].filename" [href]="thumbs[curThumbsIndex].fullPath | secure">
            <mat-icon>vertical_align_bottom</mat-icon>
        </a>
    </div>
    <!-- <div fxFlex class="green"> -->
        <photo-focal fxFlex [focal]="thumbs[curThumbsIndex]" [loading]="focalLoading" (loaded)="focalLoading=false"></photo-focal>
    <!-- </div> -->
    <photo-thumbnails [thumbs]="thumbs" [curIndex]="curThumbsIndex" (thumbChanged)="changeThumb($event)"></photo-thumbnails>
</div>

<div *ngIf="!(thumbs$ | async)" class="outer-spinner">
    <p>Getting photos in this album from the server ...</p>
    <mat-spinner></mat-spinner>
</div>